* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: burlywood;
  padding: 0 20px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
}

.sidebar {
  display: none;
  width: 180px;
  height: 640px;
  background-color: bisque;
  transition: 0.5s;
}

.sidebar h3 {
  padding: 20px;
}

.sidebar h3:hover {
  background-color: antiquewhite;
}

.sidebar-close {
  display: block;
  width: 180px;
  height: 640px;
  background-color: bisque;
  transition: 0.5s;
}
